{
  "token": "YOUR TOKEN",
  "upVoteChannel": "1034781939707695106",
  "reactionType": 1,
  "monitorURLs": true,
  "validURLs": ["youtu.be","youtube.com", "streamable.com", "medal.tv"],
  "monitorAttachments": true,
  "deleteNonContent": true
}